*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: url("bg5.jpg") repeat;
    overflow-x: hidden;
    z-index:-1;
    opacity: 0.93;
    
}

nav{
    display: flex;
justify-content: space-between;
background-color: rgb(92, 8, 8);
color: yellow;
padding:15px;

}
.container{
    margin:30px 0;
}
.to-do a{
    font-weight: bold;
font-size: large;
color:yellow;
text-decoration: none;
}

.search input{
    width: 35vw;
    /* background-color: rgb(241, 241, 192); */
    color:rgb(223, 62, 4);
    border:1px solid white;
    padding:0 4px;
}

.search-btn{
    background-color: rgb(92, 8, 8);
color: yellow;
border: 1.5px solid yellow;
padding: 1px 5px;
border-radius: 5px;
cursor: pointer;
}
.search-btn:hover{
    background-color: yellow;
    color:rgb(92, 8, 8);
    border:1.5px solid rgb(92, 8, 8);
}
.main{
    display: flex;
justify-content: center;
}
.container {
    margin:65px;
    background: url("indexbg2.jpg") repeat;
padding: 16px;
    width:60vw;
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 4px #323131;
}
.heading{
    width: 285px;
background-color: rgb(241, 92, 6) ;;
margin: 20px 0;
border-radius:8px;
text-align: center;
color:rgb(241, 241, 192);
font-weight: bold;
}
#date{
    color:orangered;
    font-size: large;
    font-weight: bolder;
    border:2px solid orangered;
    padding:5px;
    /* border-radius: 8px; */
    /* background-color: white; */
}
.note-input{
    margin:30px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#addTxt{
    width: 40vw;
height: 85px;
resize: none;
padding: 0 5px;
color: red;
font-weight: bolder;
border: 1px solid orangered;
}
#addBtn
    {
        margin: 20px 0;
        background-color: #fe5310;
        color: yellow;
        font-weight: bold;
        padding: 7px;
        border: 2px solid yellow;
        border-radius: 8px;
        cursor: pointer;
    }
#addBtn:hover{
    background-color: yellow;
    color:#fe5310;
    border:3px solid #fe5310;
}
#clear{
    background-color: yellow;
    color: orangered;
    font-weight: bolder;
    border: 2px solid orangered;
    padding: 7px 13px;
    border-radius: 8px;
    cursor: pointer;
}
#clear:hover{
    background-color: orangered;
    color:yellow;
    border: 2px solid yellow;
}
.notes{
    display: flex;
flex-direction: column;

align-items: center;
}
.noteCard{
    display: flex;
    background-color: #fe5310;
    width: 40vw;
    justify-content: space-between;
    margin:14px 0;
    align-items: center;
    padding: 15px;
    color:  rgb(241, 241, 192);
    font-weight: bolder;
   border-radius:8px;
   font-size: large;
    
}


.dltBtn{
    background-color:  #fe5310;
border: 2px solid rgb(241, 241, 192);
color: rgb(241, 241, 192);
font-weight: bolder;
padding: 4px;
border-radius: 8px;
cursor: pointer;
}
.dltBtn:hover{
    background-color:rgb(241, 241, 192) ;
    color:#fe5310;
    border: 2px  solid rgb(241, 241, 192) ;
}